main {
    font-family: "Roboto";
    color: rgb(80, 26, 30);
    margin: 0;
}
.my-name {
    margin: -1%;
    padding: 20px;
    background-color: mistyrose;
    border-bottom-style: double;
    border-color:white;
}  
.my-name p {
    margin-top:-45px;
    /*nests the tagline closer to the header*/
}
.port {
    margin-top: 10%;
    margin-right: 35%;
    margin-left: 35%;
    padding: 1.4%;
    background-color: mistyrose;
    border-style: double;
    border-color: white;
    line-height: 8mm;
}  
.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*keeps image inside proper dimensions in any resolution according to the section*/
    border-style: double;
    border-color: white;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Kufam";

}
h2 {
    text-align: left;
    padding-left: -20px;
    font-family: "Kufam";
    font-weight: 400;
   
}
p, nav {
    text-align: center;
}
ul {
    display: table;
    margin: 0 auto;
    list-style-position: inside;
    /*centers list without centering only the text after bullet points*/
}
figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    line-height: 5mm;
}
.links img,.links a{
    text-decoration: none;
    /*removes awkward lines from under link images*/
    padding: 10px;
    height: 46px
}

a {
    color: #cd5c5c;
}
